<settings>
  <localRepository/>
  <interactiveMode/>
  <usePluginRegistry/>
  <offline/>
  <proxies>
    <proxy>
      <active/>
      <protocol/>
      <username/>
      <password/>
      <port/>
      <host/>
      <nonProxyHosts/>
      <id/>
    </proxy>
  </proxies>
  <servers>
    <server>
      <username/>
      <password/>
      <privateKey/>
      <passphrase/>
      <filePermissions/>
      <directoryPermissions/>
      <configuration/>
      <id/>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <mirrorOf/>
      <name/>
      <url/>
      <id/>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <activation>
        <activeByDefault/>
        <jdk/>
        <o>
          <name/>
          <family/>
          <arch/>
          <version/>
        </o>
        <property>
          <name/>
          <value/>
        </property>
        <file>
          <missing/>
          <exists/>
        </file>
      </activation>
      <properties/>
      <repositories>
        <repository>
          <release>
            <enabled/>
            <updatePolicy/>
            <checksumPolicy/>
          </release>
          <snapshot>
            <enabled/>
            <updatePolicy/>
            <checksumPolicy/>
          </snapshot>
          <id/>
          <name/>
          <url/>
          <layout/>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <release>
            <enabled/>
            <updatePolicy/>
            <checksumPolicy/>
          </release>
          <snapshot>
            <enabled/>
            <updatePolicy/>
            <checksumPolicy/>
          </snapshot>
          <id/>
          <name/>
          <url/>
          <layout/>
        </pluginRepository>
      </pluginRepositories>
      <id/>
    </profile>
  </profiles>
  <activeProfiles/>
  <pluginGroups/>
</settings>